/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}
@font-face {
    font-family: 'OpenSans'; /*a name to be used later*/
    src: url('./OpenSans-Light.ttf'); /*URL to font*/
}
body{
		background: url("http://localhost:1337/images/formbg.png");
		font-family: "OpenSans",Calibri, sans-serif;
}
form{
	width: 50%;
	height: 100%;
}
.add p{
	display: inline-block;
	width: 200px;
	padding-left: 20px;
	padding-top: 10px;
}
.add p::after{
	content: ":";
}
.entry{
	width: 500px;
	margin-left: 20px;
}
input {
	width: 300px;
}
textarea{
	max-width: 300px;
	min-width: 300px;
	height: 100px
}
.add{
	float: left;
}
.call {
	float: right;
}
.call input{
	margin-top: 10px;
}
.call button{
	position: relative;
	top: 4px;
}
.sresult{
	width: 300px;
	height: 21px;
	background: #eee;
}
.resultdiv{
	padding-top: 80px; 

}
.details p{
 height: 100px;
}
.done{
	color: #00f;
	background: #4f7;
	padding: 5px;
	width: 300px;
	text-align: center;
	border-radius: 4px;
	bottom: 10px;
	left: 100px;
}
nav{
	background: rgba(80,100,190,0.9);
	color: #fff;
	z-index: 1;
	height: 40px;
	font-size: 30px;
	box-shadow: 5px 5px -405px #000;
}
nav a{
	margin-left: 5px;
	color: #fff;
	text-decoration: none;
	font-style: none;

}
nav a:hover{
	color: #ccf;
}
.patients{
	height: 20px;
	width: 21px;
	background: #fff;
	display: inline-block;
	position: relative;
	bottom: 1.5px;
	text-align: center;
	border: 1px solid #aaa;
	display: none;

}
.fn2{
 	padding: 10px;
}
.patientsList{
	width: 222px;
}
.fn{
	padding: 10px;
}
.listItem{
	width: 222px;
	background: #fff;
	height: 21px;
	border: 1px solid #aaa;
}
.patientVisits{
	background: #eee;
	box-shadow: 1px 1px 1px 1px;
	width: 299px;
	margin-left: 100px;
	text-indent: 5px;
	border-radius: 10px 0 0 10px;
}
.dateItem{
	font-size: 19px;
	display: block;
	padding: 3px;
	border: 1px solid #000;
	width: 550px;
}
ul{
	position: fixed;
	list-style-type: none;
	background: rgba(240,240,240,0.7);
}
body span div{
	display: none;
}
input{
	border-radius: 10px;
	border: 1px solid #ccc;
	text-indent: 2px;
}
.searchtxt{
	border-radius: 10px 0 0 10px;
	margin-left: 100px;
}
.call button{
	position: relative;
	top: 4px;
	border-radius: 0 10px 10px 0;
	border: 1px solid #aaa;
	background: #eee;
}
.entry p{
	font-size: 20px;
	position: relative;
	top: 2px;
}
.entry .details{
 	padding: 20px;
 	padding-bottom: 0;
	width: 200px;
	display: block;
}
.pdetails{
	max-height: 100px;
	margin-bottom: 50px;
}
.config{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(20,20,20,0.4);
	z-index: 3;
}
.innerConfig{
	margin-left: 40%;
	margin-right: 50%;
	margin-top: 30%;
	width: 100%;
	border-radius: 25px;
	background: rgba(230,230,230,0.7);
	padding: 40px;
	width: 300px;
}
.configbtn{
	margin-top: 10px;
}
.innerConfig label{
	display: block;
}
.submitbtn{
	position: relative;
	left: 350px;
}
.genBtn{
	border: none;
	color: #ddd;
	border-radius: 20px;
	background: rgba(0,0,0,0.4);
	padding: 5px;
	transition: all 0.2s ease;
}
.genBtn:hover{
	color: #fff;
}
.useless{
	display: block;
}
.morediv{
	width: 340px;
	text-align: center;
	background: rgba(240,240,240,0.1);
}
.morediv p{
	display: inline;
	position: relative;
	bottom: 12px;
}
.more{
	font-size: 50px;
	letter-spacing: 0px;
	transform: rotate(-90deg);
	display: inline-block;
	transition: all 0.4s ease;
}
.rotated{
	transform: rotate(0deg);
}